@font-face {
    font-family: 'Norse';
    src: url('./fonts/Norse-Bold.woff2') format('woff2'),
        url('./fonts/Norse-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
*,
*::before,
*::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

input,
button,
label{
  font-family: inherit;  
  font-size: inherit; 
  line-height: inherit; 
  color: inherit;
}

body{ 
    min-height: 100vh;
    line-height: 1.5;
    display: flex;
    flex-direction: row-reverse ; 
}
.container{
    font-family: 'Roboto',sans-serif;
    background: linear-gradient(180deg,orange,gold,orange );
    color: navy;
    width: 71%;
    padding-top: 7em ;
    padding-bottom: 7em ;
    padding-right: 5em;
    padding-left:2em ;
}
.container>p{
    font-size: 1.3rem;
    font-weight: 700;
}
.container>p:last-of-type{
    margin-bottom: 1em;
}
.container>:nth-child(2){
    margin-top: 1em;
    margin-bottom: 3em;
}

.div{
    display: flex;
    gap: 5rem;
    padding-bottom: 2em;
    position: relative;
}

.input{
    display: flex;
    flex-direction: column;
}


input{
    width: 130%;
    min-height: 2.1875rem;
    border: none;
    background: none;
    border-radius: 5px;
    border: 2px solid #555;
    padding-left: 0.5em;
}

input:focus{
    outline: none;
    border-color:blue;
    box-shadow: 3px 3px 6px 1px blue;
    background: #ffa600e1;
} 

label[for="password"]::before,
label[for="confirm-password"]::before{ 
  opacity: 0;
  transform: scale(0);
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.input:focus-within label[for="password"]::before,
.input:focus-within label[for="confirm-password"]::before{
    content: "• a minimum of 8 characters \A • a maximum of 32 characters \A • at least 1 Uppercase letter \A • at least 1 Lowercase letter \A • at least 1 Number \A • at least 1 Special character";
    white-space: pre;
    width: 14.2rem;
    height: 10.625rem;
    bottom: 80%;
    padding:0.8em 0.5em;
    position: absolute; 
    color:#fff;
    background:green;
    border-radius: 0.625rem; 
    opacity: 1;
    transform: scale(1);
}
.input:focus-within label[for="confirm-password"]::before{
    left: 20rem;
}
.input:focus-within label[for="password"]::before{
    left: 2rem;
}
input:user-invalid{ 
    border-color:#f00; 
}
input:active{ 
    border-color:#dfaf13; 
}
input:user-valid{ 
    border-color:green; 
}

form>div:last-of-type{
    border-bottom: 2px solid #999; 
    box-shadow: 0 20px 10px -5px rgba(0, 0, 0, 0.3);
}

button{
    background-color: #008000;
    border: 2px solid #008000;
    box-shadow: 3px 3px 6px 3px blue ;
    font-size: 1.2rem;
    color: #fff;
    margin:2em 0 ;
    width: 12.5rem;
    padding: 0.5em;
    border-radius: 5px;
    cursor: pointer;
}
button:hover,
button:focus{
    background-color: #596D48;
    border: 2px solid orange; 
    color: orange;
}
p a{
    text-decoration: none;
    font-weight: 700;
    color: green;
    font-size: 1.2rem;
}
p a:hover,
p a:focus{ 
    color: black; 
}

.sidebar{
    width: 29%;
    background-image: url(./images/halie-west-25xggax4bSA-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.sidebar .logo{
    background-color: #000;
    opacity: 0.6;
    display: flex;
    justify-content: center;
    margin-top: 10em;
    padding: 0.3em;
}

svg:hover .svg,
svg:focus .svg{
    fill: #E3B261;
    cursor: pointer;
}
svg{ 
    min-width: 4.125rem; 
    min-height: 5.625rem;
}

.logo .text-logo{
    color: #fff;
    font-family: 'Norse',sans-serif;
    font-size: 4rem; 
}
.sidebar p{
    position: absolute;
    bottom: 1rem; 
    color: #ffffff;
    font-size: 1.5rem;
} 
.sidebar a{
    text-decoration: none;
    color: #ff7f50;
} 
.sidebar a:hover,
.sidebar a:focus{
    text-decoration:solid ;
    color: #d44511;
    cursor: pointer;
} 
@media (max-width:48rem) {
    .div{
        flex-direction: column;
        gap: 2em;
        width: 80%;
    }
    .input:focus-within label[for="password"]::before{
        bottom: 100%;
        opacity: 0.8;
        left: 1.5rem;
        width: 14rem;
    }
    .input:focus-within label[for="confirm-password"]::before{
        bottom: 46%;
        opacity: 0.8; 
        left: 1.5rem;
        width: 14rem;
    }
    .sidebar .logo{
        flex-direction: column;
    }
}
@media (max-width:25.75rem) {
    .sidebar{
        display: none;
    }
    .container{
        width: 100%;
    }
    .input:focus-within label[for="password"]::before{ 
        left: 1.7rem;
        width: 14rem;
    }
    .input:focus-within label[for="confirm-password"]::before{ 
        left: 1.7rem;
        width: 14rem;
    }
}